<!DOCTYPE html>
<html>
  <head>
    <title>Twintrest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Twinterest">
    <meta property="og:image" content="<%= image_url('twin_meta_image.png')%> ">
    <meta property="og:description" content="A fullstack clone of Pinterest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <% if current_user%>
      <script>
        window.current_user = { 
          "id": <%= current_user.id%>,
          "email": '<%= current_user.email%>',
          "username": '<%= current_user.username%>',
          // "photo": '<%= current_user.photo.attached? ? url_for(current_user.photo) : image_url("twintrest_avatar_blue.png") %>'
        };
      </script>
    <% end %>

    <script>
      window.main_logo ="<%= image_url("twintrest_logo.png") %>"
      window.avatar_blue ="<%= image_url("twintrest_avatar_blue.png") %>"
      window.avatar_green ="<%= image_url("twintrest_avatar_green.png") %>"
      window.avatar_dkgreen ="<%= image_url("twintrest_avatar_dkgreen.png") %>"
      window.avatar_gold ="<%= image_url("twintrest_avatar_gold.png") %>"
      window.bell ="<%= image_url("bell.svg") %>"
      window.linkedin ="<%= image_url("pin-LI.png") %>"
      window.github ="<%= image_url("pin-GH.png") %>"
      window.message_bubble ="<%= image_url("message-bubble.svg") %>"
      window.chevron ="<%= image_url("chevron.svg") %>"
      window.chevron_white ="<%= image_url("chevron-white.svg") %>"
      window.chevron_black ="<%= image_url("chevron-black.svg") %>"
      window.more_info ="<%= image_url("more-details.svg") %>"
      window.landing11 ="<%= image_url("landing1.1.jpg") %>"
      window.landing12 ="<%= image_url("landing1.2.jpg") %>"
      window.landing13 ="<%= image_url("landing1.3.png") %>"
      window.landing14 ="<%= image_url("landing1.4.jpg") %>"
      window.landing15 ="<%= image_url("landing1.5.png") %>"
      window.landing16 ="<%= image_url("landing1.6.jpg") %>"
      window.landing17 ="<%= image_url("landing1.7.png") %>"
      window.backButton ="<%= image_url("back-arrow.png")%>"
      window.spinner ="<%= image_url("spinner.gif")%>"

    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
