<!DOCTYPE html>
<html>
  <head>
    <title>Twintrest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <% if current_user%>
      <script>
        window.current_user = { 
          "id": <%= current_user.id%>,
          "email": '<%= current_user.email%>',
          "username": '<%= current_user.username%>',
        };
      </script>
    <% end %>

    <script>
      window.main_logo ="<%= image_url("twintrest_logo.png") %>"
      window.avatar_blue ="<%= image_url("twintrest_avatar_blue.png") %>"
      window.avatar_green ="<%= image_url("twintrest_avatar_green.png") %>"
      window.avatar_dkgreen ="<%= image_url("twintrest_avatar_dkgreen.png") %>"
      window.avatar_gold ="<%= image_url("twintrest_avatar_gold.png") %>"

    </script>


  </head>
  <body>
    <%= yield %>
  </body>
</html>
